<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volosyukivan.diskusage"
    android:installLocation="auto"
    android:versionCode="4002"
    android:versionName="4.0.2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <supports-screens android:smallScreens="true"
                  android:anyDensity="true"
                  android:normalScreens="true"
                  android:resizeable="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"/>
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:description="@string/app_description"
                 android:name=".DiskUsageApplication"
                 android:allowClearUserData="true"
                 android:allowTaskReparenting="true"
                 android:launchMode="singleTop"
                 android:theme="@style/Theme"
                 android:hardwareAccelerated="true"
                 android:requestLegacyExternalStorage="true">
        <activity android:name=".ui.SelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".ui.DiskUsage"
        android:theme="@style/Theme.NoBackground"
              android:hardwareAccelerated="false"
              android:windowSoftInputMode="adjustResize" android:exported="true">
    </activity>
    <activity android:name=".ui.PermissionRequestActivity"/>
    <activity android:name=".ui.DeleteActivity"/>
    <activity android:name=".ui.ShowHideMountPointsActivity"/>
</application>
</manifest> 
