<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.diskusage"
    android:installLocation="auto"
    android:versionCode="3080"
    android:versionName="3.8.0">
    <uses-sdk android:minSdkVersion="1" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <supports-screens android:smallScreens="true"
                  android:anyDensity="true"
                  android:normalScreens="true"
                  android:resizeable="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"/>
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:description="@string/app_description"
                 android:allowClearUserData="true"
                 android:allowTaskReparenting="true"
                 android:launchMode="singleTop"
                 android:theme="@style/Theme"
                 android:hardwareAccelerated="true">
        <activity android:name=".SelectActivity"
                  android:label="@string/app_name"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".DiskUsage" android:label="@string/app_name"
              android:theme="@style/Theme.NoBackground"
              android:hardwareAccelerated="false"
              android:windowSoftInputMode="adjustResize" android:exported="true">
        <intent-filter>
           <action android:name="com.google.android.diskusage.VIEW" />
           <category android:name="android.intent.category.DEFAULT"/>
           <data android:scheme="file"/>
        </intent-filter>
    </activity>
        
    <activity android:name=".AppUsage" android:label="@string/app_name"
              android:theme="@style/Theme.NoBackground"
              android:hardwareAccelerated="false"
              android:windowSoftInputMode="adjustResize"/>
    <activity android:name=".FilterActivity"/>
    <activity android:name=".DeleteActivity"/>
    <activity android:name="ShowHideMountPointsActivity"/>
</application>
</manifest> 
